<launch>

    <node name="teleop_twist_keyboard_py" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" required = "true">
        <remap from="/cmd_vel" to="/check_vel"/>
    </node>
    <node name="teleop_mediator_py" pkg="final_assignment_controller" type="teleop_mediator.py" output="screen" required = "true"/>
    <node name="robot_gui_py" pkg="final_assignment_controller" type="robot_gui.py" output="screen" required = "true"/>

</launch>
